:root {
    --skin: #f6c09c;
    --background: #ed4042;
    --red: #ed2860;
    --dark-red: #680524;
    --black: #00243a;
    --white: #fff;
  }

  .head{
      width: 50px;
      height: 250px;
      background: var(--skin);
      border-radius: 50px;
      
  }