
.e2{
    margin: 60px 0;
}

.e3{
    margin: 120px 0;
}

.e4{
    margin: 0 auto;
}

.e5{
    margin: 60px auto;
}

.e6{
    margin: 120px 60px;
}


.e7{
    margin: 0 0 0 auto;
}

.e8{
    margin: 60px 0 0 auto;
}

.e9{
    margin: 120px 0 0 auto;
}