@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: 'Lato', sans-serif;
  width: 550px;
}

.c {
  background: turquoise;
  width: 180px;
  height: 180px;
}

.e {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.element1 {
  @extend .element;
  background: papayawhip;
}

.element2 {
  @extend .element;
  background: pink;
}

.element3 {
  @extend .element;
  background: lightcyan;
}

.container1 {
  @extend .container;
  display: flex;
  // justify-content: ;
  // align-items: ;
}

.container2 {
  @extend .container;
  display: flex;
  // justify-content: ;
  // align-items: ;
}

.container3 {
  @extend .container;
  display: flex;
  // justify-content: ;
  // align-items: ;
}

.container4 {
  @extend .container;
  display: flex;
  // justify-content: ;
  // align-items: ;
}

.container5 {
  @extend .container;
  display: flex;
  // justify-content: ;
  // align-items: ;
}

.container6 {
  @extend .container;
  display: flex;
  // justify-content: ;
  // align-items: ;
}

.container7 {
  @extend .container;
  display: flex;
  // justify-content: ;
  // align-items: ;
}

.container8 {
  @extend .container;
  display: flex;
  // justify-content: ;
  // align-items: ;
}

.container9 {
  @extend .container;
  display: flex;
  // justify-content: ;
  // align-items: ;
}