.e{
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.e1{
    background-color: papayawhip;
}

.e2{
    background: pink;
}

.e3{
    background: lightcyan
}

.container1{
    background-color: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.container2{
    background-color: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.container3{
    background-color: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
}
.container4{
    background-color: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.container5{
    background-color: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.container6{
    background-color: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}
.container7{
    background-color: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: right;
    vertical-align: top;
}

.container8{
    background-color: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.container9{
    background-color: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}